/* -------------------------------------------Zero Style------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  /* height: 100%; */
  width: 100%;
  font-size: 100%;
  line-height: 1;
  /* font-size: 14px; */
  /* -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; */
}
input,
button,
textarea {
  font-family: inherit;
}
/* input::-ms-clear {
  display: none;
} */
button {
  cursor: pointer;
}
/* button::-moz-focus-inner {
  padding: 0;
  border: 0;
} */
a,
a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*-------------------- */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", "Times New Roman", sans-serif;
  background: linear-gradient(to bottom, rgb(219, 214, 214) 0%, rgb(218, 213, 213) 91%) 0 0/1px 3000px;

}
/* -------------------------------------------Workspace------------------------------------------- */
.wrapper {
  display: flex;
  justify-content: center;
  font-size: 14px;
  min-height: 100%;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
}
/* -------------------------------------------Header------------------------------------------- */


.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgb(226, 226, 226) 100%);
  border-bottom: 3px solid rgb(201, 201, 201);
  padding: 10px 20px;
}
.main-heading{
  font-size: 40px;
  text-transform: uppercase;
  border: 3px solid #000;
  border-radius: 50%;
  padding: 7px;
}
.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  line-height: 20px;
  width: 100%;
}
.navigation-item>a {
  font-family: "Lato", "Times New Roman", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 16px;
}
.navigation-item:hover {
  transform: scale(1.1);
}
.navigation-item:not(:last-child) {
  padding-right: 15px;
}
/* -------------------------------------------Main content+footer------------------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 768px;
  margin: 10px 0;
  box-shadow: 0px 9px 10px #000;
}
/* -------------------------------------------Main content without footer------------------------------------------- */
.content {
  display: flex;
  flex-direction: row-reverse;
}
/* -------------------------------------------Left side content------------------------------------------- */
.content__left {
  flex: 0 0 250px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 17%, rgba(40, 40, 40, 1) 100%);
}
.content__left__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 800px;
 }
/* -------------------------------------------Avatar------------------------------------------- */
.content__left__avatar img {
  width: 100%;
}
/* -------------------------------------------Contacts------------------------------------------- */
.content__left__tittle-main {
  padding: 3px 0 3px 5px;
  color: white;
  border-bottom: 2px solid rgb(223, 222, 222);
  font-weight: 700;
  background-color: transparent;
}
.content__left__tittle {
  padding: 10px 0 10px 30px;
  color: white;
  background-color: transparent;
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(86, 86, 86, 1) 0%,
    rgba(127, 127, 127, 1) 100%,
    rgba(238, 238, 238, 1) 100%,
    rgba(127, 127, 127, 1) 101%
  );
}
.list {
  padding: 25px 25px 25px 10px;
  line-height: 30px;
  color: white;
  background-color: transparent;
}
.list li {
  padding: 0 0 0 25px;
}
.content__left__contacts__list li:nth-child(1) {
  background: url(Images/free-icon-geo-2527411.svg) left/ 15px no-repeat;
}
.content__left__contacts__list li:nth-child(2) {
  background: url(Images/free-icon-phone-call-86077.svg) left/ 20px no-repeat;
}
.content__left__contacts__list li:nth-child(3) {
  background: url(Images/free-icon-envelope-rectangular-outline-variant-29998.svg) left/ 15px no-repeat;
}
/* -------------------------------------------Fallow me------------------------------------------- */
.content__left__follow__list li:nth-child(1) {
  background: url(Images/free-icon-instagram-2111463.svg) left/ 20px no-repeat;
}
.content__left__follow__list li:nth-child(2) {
  background: url(Images/free-icon-vk-2111712.svg) left/ 20px no-repeat;
}
.content__left__follow__list li:nth-child(3) {
  background: url(Images/free-icon-viber-185982.svg) left/ 20px no-repeat;
}
.content__left__follow__list li:nth-child(4) {
  background: url(Images/free-icon-telegram-1216722.svg) left/ 15px no-repeat;
}
/* -------------------------------------------Languages------------------------------------------- */
.content__left__lang__list li:nth-child(1) {
  background: url(Images/free-icon-russia-197408.svg) left/ 20px no-repeat;
}
.content__left__lang__list li:nth-child(2) {
  background: url(Images/united-states-of-america.svg) left/ 20px no-repeat;
}
/* -------------------------------------------Right side content------------------------------------------- */
.content__rght {
  flex: 1 1 auto;
  overflow: hidden;
  border-left: 3px solid rgb(201, 201, 201);
  background-color: rgb(240, 240, 240);
  color: black;
}
.content__rght__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 900px;
}
/* -------------------------------------------Heading Name and Profession------------------------------------------- */
.content__rght__tittle-name {
  font-family: "Poppins", "Lato", "Times New Roman", sans-serif;
  padding: 50px 0 50px 30px;
  color: black;
  background-color: transparent;
}
.content__rght__tittle-name__name {
  font-size: 30px;
  text-align: left;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content__rght__tittle-name__prof {
  font-family: "Lato", "Times New Roman", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* -------------------------------------------About me, Education, Experience------------------------------------------- */
.heading {
  padding: 10px 0 10px 30px;
  color: black;
  background-color: transparent;
  font-weight: 900;
  background: linear-gradient(to bottom, rgb(231, 231, 231) 0%, rgb(221, 221, 221) 100%);
}
.body-type {
  padding: 25px;
  line-height: 20px;
  text-align: justify;
}
.body-type .link-video {
  color: blue;
  padding-left: 10px;
}
.body-type .example-cod {
  color: #000; 
  text-decoration: underline;
}
.body-project__item {
  max-width: 140px;
  height: 90px;
  transition: .5s;
}
.body-project__item:hover {
  transform: scale(1.2);
}
.body-project__item .completed-project {
  color: #000; 
  text-align: center;
}
.example-cod::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 17px;
  background: url(Images/free-icon-unlink-149919.svg) center/ 11px no-repeat;
}
.content__rght__exp__body-project {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  column-gap: 20px;
  row-gap: 5px;
  padding-top: 15px;
}
.content__rght__exp__body-project img {
  width: 100%;
  display: block;
}

/* -------------------------------------------Skills------------------------------------------- */
.content__rght__skills-container {
  display: flex;
}
.content__rght__list ul {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.content__rght__list {
  padding: 25px;
  position: relative;
  min-width: 50%;
  min-height: 100%;

}
.tittle img {
  width: 10%;
}
.head {
  position: absolute;
  bottom: 30%;
}
.lvl {
  position: absolute;
  right: 0;
  bottom: 20%;
}
.level {
  width: 100%;
  height: 6px;
  margin: 0 0 5px 0;
  background-color: rgb(190, 189, 187);
  color: transparent;
  border-radius: 10px;
}
.how {
  height: 100%;
  background-color: rgb(110, 110, 110);
  color: transparent;
  border-radius: 10px;
}
.conteiner-lvl{
  position: relative;

}
.content__rght__list__html__level__how {
  width: 60%;
}
.content__rght__list__css__level__how {
  width: 60%;
}
.content__rght__list__js__level {
  margin: 0;
}
.content__rght__list__js__level__how {
  width: 15%;
}


.content__lft__list {
  padding: 25px;
  position: relative;
  min-width: 50%;
  min-height: 100%;
}
.content__lft__list ul {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.content__lft__list__git__level__how {
  width: 40%;
}
.content__lft__list__blender__level__how {
  width: 50%;
}
.content__lft__list__unity__level {
  margin: 0;
}
.content__lft__list__unity__level__how {
  width: 20%;
}
/* -------------------------------------------Footer------------------------------------------- */
.footer {
  height: 60px;
  position: relative;
  border-top: 3px solid rgb(201, 201, 201);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
}
.footer__link {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin: 0 0 -5px -90px;
}
.footer__link__rss img {
  width: 10%;
}



@media (max-width:676px) {
  .navigation-list {
    min-width: 90%;
    line-height: 30px;
  }
  .content__left {
    min-width: 220px;
  }
  .content__rght {
    max-width: 350px;
  }
  .body-type {
    padding: 10px;
  }
  .tittle img {
    width: 10%;
  }
  .content__rght__tittle-name__name{
    font-size: 18px;
  }
  *{
    font-size: 14px;
  }
  .content__rght__tittle-name {
    text-align: center;
  }
  .content__rght__tittle-name__name{
    font-size: 30px;
    text-align: center;
  }
  .heading {
    padding: 10px 0 10px 10px;
  }
  .content__rght__tittle-name {
  padding: 50px 0 50px 10px;
  }
}

@media (max-width:479px) {
  .navigation-list {
    min-width: 90%;
    line-height: 30px;
  }
  .header {
    min-height: 90px;
  }
  .content__left {
    min-width: 200px;
  }
  .body-type {
    padding: 10px;
  }
  .tittle img {
    width: 10%;
  }
  .content__rght__tittle-name__name{
    font-size: 18px;
  }
  *{
    font-size: 12px;
  }
  .heading {
    padding: 10px 0 10px 10px;
  }
  .content__rght__tittle-name {
  padding: 50px 0 50px 10px;
  }
}

@media (max-width:430px) {
  .content__rght__tittle-name__name{
    font-size: 14px;
  }
  .heading {
    padding: 10px 0 10px 10px;
  }
  .content__rght__tittle-name {
  padding: 50px 0 50px 10px;
  }
  .content__rght__tittle-name__prof{
    font-size: 12px;
  }
}

@media (max-width:320px) {
  .navigation-list {
    min-width: 100%;
    line-height: 30px;
  }
  .content {
    flex-direction: column;
  }
  .content__rght {
    border: 0;
  }
  .container {
    margin: 0;
  }
  .content__rght__tittle-name {
      text-align: center;
    }
    .content__rght__tittle-name__name{
      font-size: 30px;
      text-align: center;
    }
    *{
      font-size: 16px;
    }
    .footer__link img{
      width: 18%;
    }
}