/* -------------------------------------------Zero Style------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*------------------------------------------------------------------------------------------------ */

/* -------------------------------------------Mainspace------------------------------------------- */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", "Times New Roman", sans-serif;
  background: linear-gradient(to bottom, rgb(219, 214, 214) 0%, rgb(218, 213, 213) 91%) 0 0/1px 3000px;
}
/* -------------------------------------------Workspace------------------------------------------- */
.wrapper {
  display: flex;
  justify-content: center;
  font-size: 14px;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 768px;
  margin: 10px 0;
  box-shadow: 0px 9px 10px #000;
  min-height: 100%;
}
/* -------------------------------------------Header------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgb(226, 226, 226) 100%);
  border-bottom: 3px solid rgb(201, 201, 201);
  padding: 10px 20px;
}
.header-heading{
  font-size: 40px;
  text-transform: uppercase;
  border: 3px solid #000;
  border-radius: 50%;
  padding: 7px;
}
.header-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  line-height: 20px;
  width: 100%;
}
.navigation-item>a {
  font-family: "Lato", "Times New Roman", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 16px;
}
.navigation-item:hover {
  transform: scale(1.1);
}
.navigation-item:not(:last-child) {
  padding-right: 15px;
}
/* -------------------------------------------Main content without footer------------------------------------------- */
.content {
  display: flex;
  flex-direction: row-reverse;
}
/* -------------------------------------------Right side content------------------------------------------- */
.content__rght {
  flex: 1 1 auto;
  overflow: hidden;
  border-left: 3px solid rgb(201, 201, 201);
  background-color: rgb(240, 240, 240);
  color: black;
  min-height: 100%;
}
.content__rght-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
/* -------------------------------------------Heading Name and Profession------------------------------------------- */
.content__rght__tittle {
  font-family: "Poppins", "Lato", "Times New Roman", sans-serif;
  padding: 50px 0 50px 30px;
  color: black;
  background-color: transparent;
}
.content__rght__tittle-name {
  font-size: 30px;
  text-align: left;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content__rght__tittle-prof {
  font-family: "Lato", "Times New Roman", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* -------------------------------------------About me, Education, Experience------------------------------------------- */
.heading {
  padding: 10px 0 10px 30px;
  color: black;
  background-color: transparent;
  font-weight: 900;
  background: linear-gradient(to bottom, rgb(231, 231, 231) 0%, rgb(221, 221, 221) 100%);
}
.body-type {
  padding: 25px;
  line-height: 20px;
  text-align: justify;
}
.body-type .video {
  color: blue;
  padding-left: 10px;
}
.body-type .example-cod {
  color: #000; 
  text-decoration: underline;
}
.example-cod::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 17px;
  background: url(Images/free-icon-unlink-149919.svg) center/ 11px no-repeat;
}
.link-resume{
  display: block;
  text-align: start;
}
.content__rght__exp-project {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 5px;
  padding-top: 15px;
}
.content__rght__exp-project img {
  width: 100%;
  display: block;
}
.project__item {
  max-width: 140px;
  height: 90px;
  transition: .5s;
}
.project__item:hover {
  transform: scale(1.2);
}
.project__item .project__item-completed {
  color: #000; 
  text-align: center;
}
iframe {
  width: 100%; 
  height: 315px;
  border:0;
}
/* -------------------------------------------Skills------------------------------------------- */
.content__rght__skills-container {
  display: flex;
}
.content__rght__skills-list {
  padding: 25px;
  position: relative;
  min-width: 50%;
  min-height: 100%;
}
.content__rght__skills-list ul {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.conteiner-lvl{
  position: relative;
}
.tittle img {
  width: 10%;
}
.tittle-head {
  position: absolute;
  bottom: 30%;
}
.tittle-lvl {
  position: absolute;
  right: 0;
  bottom: 20%;
}
.level {
  width: 100%;
  height: 6px;
  margin: 0 0 5px 0;
  background-color: rgb(190, 189, 187);
  color: transparent;
  border-radius: 10px;
}
.parcent {
  height: 100%;
  background-color: rgb(110, 110, 110);
  color: transparent;
  border-radius: 10px;
}
.range-level__parcent-item {
  width: 60%;
}
.range-level__parcent-item2 {
  width: 60%;
}
.range-level__item3 {
  margin: 0;
}
.range-level__parcent-item3 {
  width: 15%;
}
.content__rght__skills-list2 {
  padding: 25px;
  position: relative;
  min-width: 50%;
  min-height: 100%;
}
.content__rght__skills-list2 ul {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.range-level__parcent-rgh {
  width: 40%;
}
.range-level__parcent-rgh2 {
  width: 50%;
}
.range-level__item-rgh3 {
  margin: 0;
}
.range-level__parcent-rgh3 {
  width: 20%;
}
/* -------------------------------------------Left side content------------------------------------------- */
.content__left {
  flex: 0 0 250px;
 
  background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 17%, rgba(40, 40, 40, 1) 100%);
  min-height: 100%;
}
.content__left__flex {
  display: flex;
  flex-direction: column;
 }
/* -------------------------------------------Avatar------------------------------------------- */
.content__left__avatar img {
  width: 100%;
}
/* -------------------------------------------Contacts------------------------------------------- */
.content__left__tittle {
  padding: 10px 0 10px 30px;
  color: white;
  background-color: transparent;
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(86, 86, 86, 1) 0%,
    rgba(127, 127, 127, 1) 100%,
    rgba(238, 238, 238, 1) 100%,
    rgba(127, 127, 127, 1) 101%
  );
}
.list {
  padding: 25px 25px 25px 10px;
  line-height: 30px;
  color: white;
  background-color: transparent;
}
.list li {
  padding: 0 0 0 25px;
}
.content__left__contacts__list li:nth-child(1) {
  background: url(Images/free-icon-geo-2527411.svg) left/ 15px no-repeat;
}
.content__left__contacts__list li:nth-child(2) {
  background: url(Images/free-icon-phone-call-86077.svg) left/ 20px no-repeat;
}
.content__left__contacts__list li:nth-child(3) {
  background: url(Images/free-icon-envelope-rectangular-outline-variant-29998.svg) left/ 15px no-repeat;
}
/* -------------------------------------------Fallow me------------------------------------------- */
.content__left__follow__list li:nth-child(1) {
  background: url(Images/free-icon-instagram-2111463.svg) left/ 20px no-repeat;
}
.content__left__follow__list li:nth-child(2) {
  background: url(Images/free-icon-vk-2111712.svg) left/ 20px no-repeat;
}
.content__left__follow__list li:nth-child(3) {
  background: url(Images/free-icon-viber-185982.svg) left/ 20px no-repeat;
}
.content__left__follow__list li:nth-child(4) {
  background: url(Images/free-icon-telegram-1216722.svg) left/ 15px no-repeat;
}
/* -------------------------------------------Languages------------------------------------------- */
.content__left__lang__list li:nth-child(1) {
  background: url(Images/free-icon-russia-197408.svg) left/ 20px no-repeat;
}
.content__left__lang__list li:nth-child(2) {
  background: url(Images/united-states-of-america.svg) left/ 20px no-repeat;
}
.content__left__picture{
  width: 100%;
}
.rspictire{
  opacity: 0.03;
  width: 80%;
  padding: 0 0 20px 20px;
}

/* -------------------------------------------Footer------------------------------------------- */
.footer {
  height: 60px;
  position: relative;
  border-top: 3px solid rgb(201, 201, 201);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
}
.footer__link {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin: 0 0 -5px -90px;
}
.footer__link__rss img {
  width: 10%;
}

/* -------------------------------------------Media query------------------------------------------- */
/* ------------------------------610px---------------------------- */
@media (max-width:610px) {
  .navigation-list {
    max-width: 90%;
    line-height: 30px;
  }
  .content__rght__tittle{
    padding: 10px;
  }
  .content__rght__tittle-name {
    font-size: 25px;
  }
  .content__rght__tittle-prof {
    font-size: 16px;
  }
  *{
    font-size: 12px;
  }
  .body-type {
    padding: 0 10px 0 10px;
  }
  .heading {
    padding: 10px 0 10px 10px;
  }
  .content__left {
    flex: 0 0 200px;
  }
}
/* ------------------------------500px---------------------------- */
@media (max-width:500px) {
  .tittle img{
    width: 20%;
  }
  .content__rght__tittle-name {
    font-size: 20px;
  }
  .content__rght__tittle-prof {
    font-size: 12px;
  }
}

/* ------------------------------476px---------------------------- */
@media (max-width:476px) {
  .link-resume a{
    font-size: 10px;
  }
  .content__left {
    flex: 0 0 170px;
  }
  *{
    font-size: 10px;
  }
}
/* ------------------------------428px---------------------------- */
@media (max-width:428px) {
  .content {
    flex-direction: column-reverse;
  }
  *{
    font-size: 14px;
  }
  .content__rght__tittle{
    text-align: center;
  }
  .content__rght__tittle-name{
    text-align: center;
  }
  .link-resume a{
    font-size: 12px;
  }
}




/* ------------------------------320px---------------------------- */
/* @media (max-width:320px) {
  .navigation-list {
    min-width: 100%;
    line-height: 30px;
  }
  .content {
    flex-direction: column-reverse;
  }
  .content__rght {
    border: 0;
  }
  .container {
    margin: 0;
  }
  .content__rght__tittle {
    text-align: center;
  }
  .content__rght__tittle-name {
    font-size: 30px;
    text-align: center;
  }
  *{
    font-size: 16px;
  }
  .footer__link img{
    width: 18%;
  }
} */